@import url(http://fonts.googleapis.com/css?family=MedievalSharp);
@base: #64c101;


body{
  background: url('../images/back.jpg') repeat-x;
  background-color: @base;
  padding-top: 10px;
}

h1{
 font-family: 'MedievalSharp', cursive;
 color: blue;
 font-size: 60px;
 display: inline;
 width: 500px;
 height: 100px;
 margin-top: 50px;
 background-color: rgba(255, 255, 255, 0.3) !important;
 padding: 10px;
 float: right;
 margin-right: 20px;
}


.header{
  float: left;
  width:195px;
  height: 192px;
  margin-top: 10px;
  display: inline;
}
#gameBoard{
  height: auto;
  background-color: rgba(255, 255, 255, 0.2) !important;
  tr{
    height: 100px;
    background-color: transparent;
    td{
      width: 100px;
      border: 1px solid white;
    }
  }
}
.piece{
  height: 95px;
  width: 95px;
  background-repeat: no-repeat;
}

@-webkit-keyframes wormhole {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes ghost {
  0% {-webkit-transform: scale(0.9) rotate(8deg)}
  25% {-webkit-transform: scale(0.95) rotate(0deg)}
  50% {-webkit-transform: scale(1.0) rotate(-8deg)}
  75% {-webkit-transform: scale(0.95) rotate(0deg)}
  100% {-webkit-transform: scale(0.9) rotate(8deg)}

}

.wormhole {
    -webkit-animation-name:             wormhole;
    -webkit-animation-duration:         5s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function:  linear;
}

.ghost {
    -webkit-animation-name:             ghost;
    -webkit-animation-duration:         3s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function:  linear;
}
