@base: #ffffff;


body{
  background-color: @base;
}

#gameBoard{
  height: auto;
  tr{
    height: 100px;
    td{
      width: 100px;
      border: 1px solid black;
    }
  }
}
.piece{
  height: 95px;
  width: 95px;
  background-repeat: no-repeat;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.wormhole
{
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         5s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function:  linear;
    }
