@import url(http://fonts.googleapis.com/css?family=MedievalSharp);
@base: #54b700;


body{
  background: url('../images/back.jpg') no-repeat;
  background-color: @base;
}

h1{
 font-family: 'MedievalSharp', cursive;
 color: blue;
 font-size: 60px;
}

#gameBoard{
  height: auto;
  background-color: rgba(255, 255, 255, 0.2) !important;
  tr{
    height: 100px;
    background-color: transparent;
    td{
      width: 100px;
      border: 1px solid white;
    }
  }
}
.piece{
  height: 95px;
  width: 95px;
  background-repeat: no-repeat;
}


