extends ../template/layout


block content
  .row
    .small-9.columns#headColumn
      #header
        img(src="../images/castle.png")
        h1 Adventure Game
    .small-3.columns#formColumn
      include form
  .row#gameRow
    .small-12.columns
      span Princess
      input#princessFound(type='checkbox')
      span Treasure
      input#treasureFound(type='checkbox')
      #healthOuter
        span Health
        #healthInner
      table#gameBoard
